<%= form_for @article, url: {action: "create"} do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% elsif signed_in? %>

    <%= form.label :link %>
    <%= form.text_field :link, class: "form-control mr-sm-1 field" %>

    <%= form.label :tags, "Tags (separate with comma)" %>
    <%= form.text_field :tags, class: "form-control mr-sm-1 field" %>

    <%= form.hidden_field :image %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :is_active, :value => false %>
    <%= form.hidden_field :user_id, :value => current_user.id %>

  <% end %>

  <div class="actions">
    <%= form.submit "Add article" %>
  </div>
<% end %>


<!-- t.string "title"
t.string "link"
t.string "tags", array: true
t.boolean "is_active" -->
