<div id="<%= "comment-#{comment.id}-outline" %>" class="comment-outline container">
  <div class="comment-details row">
    <% comment_user = User.find(comment.user_id) %>
    <span class="col-md-6">
      <a href="/users/<%= comment_user.id %>">
     <span><%= image_tag !comment_user.avatar.url.nil? ? comment_user.avatar.url : "/assets/defaultpicture.png", height: "40", width: "40", style: "border-radius: 40px;" %></span>
      <span><%= "#{comment_user.name}" %></span>
    </a>
    </span>
    <span class="col-md-6"><%= comment.created_at.asctime %></span>
  </div>
  <br>
  <div class="comment-text">
    <%= simple_format comment.text %>
  </div>
</div>
<br>
