<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <div class="row">
        <% @articles.each do |article| %>
          <% if (signed_in? && current_user.expert?) || article.is_active? || (signed_in? && article.user_id == current_user.id) %>

        <div class="box col-md-4">
          <%= content_tag :div, class: ["article-outline", article.is_active? ? "article-active" : "article-inactive"] do -%>

            <div id="article-image-outline">
              <% if !article.image.blank? %>
                <a href="<%= article_path(article.id) %>"><%= image_tag article.image, class: "img-fluid rounded mx-auto d-block"%></a>
              <% end %>
            </div>

            <div id="site-name">
              <a href="<%= article.link %>" target="_blank"><%= "Visit article at #{URI.parse(article.link).host.downcase}" %></a>
            </div>

            <div id="article-heading-outline">
              <h6 class="article-heading"><a href="<%= article_path(article.id) %>"><%= (article.title) %></a></h6>
            </div>

            <div id="article-tags-outline">
              <% article.tags.each do |tag| %>
                <span><%= link_to "#{tag}", {controller: "articles", action: "index", tag: tag}, class: "article-tag badge badge-danger" %></span>
              <% end %>
              <% if article_owner?(article) %>
                <% form_for article, url: articles_path, method: "get" do |form| %>
                <% end %>
              <% end %>
            </div>
          
            <% if article.posts.length >= 1 %>
            <% post = article.posts.first %>
            <br>
            <div class="article-first-post">
              <!-- <div class="article-first-post-heading">First Post</div> -->
              <div class="post-details row">
               <!--  <span class="col-md-6"> -->
                  <a href="/users/<%= post.user.id %>">
                  <span><%= image_tag !User.find(post.user_id).avatar.url.nil? ? User.find(post.user_id).avatar.url : "/assets/defaultpicture.png", height: "40", width: "40", style: "border-radius: 40px;" %></span>
                  <span><%= "#{post.user.name}" %></span>
                </a>
                <!-- </span> -->
                <span class="col-md-1"></span>
                <span class="col-md-5"><%= post.created_at.asctime %></span>
              </div>
              <!-- <br> -->
              <div class="post-text">
                <%= simple_format post.text %>
              </div>
            </div>
          <% end %>

            <div class="article-box-buttons">
              <span><%= link_to 'Show All Comments', article %></span>
              <span><%= link_to ' / Edit', "#", data: {toggle: "modal", target: "#editModal-#{article.id}"} if article_owner?(article) %></span>
                <%= render 'articles/edit', article: article %>
              <span><%= link_to ' / Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } if article_owner?(article) %></span>
            </div>
           <% end -%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>


    <div class="all-tags-block-outline col-md-1">
      <div class="row">
        <div class="all-tags-block">
          <p class="btn btn-danger">Popular Tags</p>
            <% @tags.each do |tag| %>
             <span><%= link_to "#{tag}", {controller: "articles", action: "index", tag: tag}, class: "badge badge-secondary" %></span>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<style>


.container-fluid {
  margin-top: 10px;
}

  .box {
    margin-bottom: 10px;

  }

  .post-details {
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .article-first-post {
    position: relative;
    padding: 4px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: rgba(150, 150, 150, .6);
    font-size: 14px;
    background-color: white;
    max-height: 200px;
    overflow: auto;
    text-overflow: ellipsis;
  }

/*
  .article-first-post-heading {
    font-family: georgia,serif;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgba(150, 150, 150, .6);
  }*/

  .article-heading {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .article-heading a {
    color: black;
  }

  .article-outline.article-active {
    position: relative;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 150, 150, .6);
    /* height: 550px; */
    background-color: rgba(150, 150, 150, .1);
    box-shadow: 0px 0px 10px 1px grey;
  }

  .article-outline.article-inactive {
    position: relative;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(150, 30, 30, .6);
    /* height: 550px; */
    background-color: rgba(150, 150, 150, .1);
    box-shadow: 0px 0px 10px 1px grey;
  }

  #article-heading-outline {
    margin-top: 6px;
  }


  #article-tags-outline {
      text-align: center;

  }

  .article-box-buttons {
    margin-top: 10px;
    bottom: 5px;
    left: 20px;
    position: relative;
  }

  #site-name {
      font-family: georgia,serif;
      text-align: center;
      font-size: 14px;
      line-height: 11px;
      font-weight: 400;
      font-style: normal;
      color: #4d4d4d;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
  }

.all-tags-block-outline {
  font-size: 17px;
  right: -2%;
  

}

.badge-secondary {
  background-color: #c0c0c0;
}



</style>
