<div id="article">
  <div id="site-name">
    <a href="<%= @article.link %>" target="_blank"><span class="bade badge-secondary badge-pill"><%= "Visit article at #{URI.parse(@article.link).host.downcase}" %></span></a>
  </div>
  <div id="article-heading-outline">
    <h3 id="article-heading"><%= @article.title %></h3>
  </div>
  <div id="article-image-outline">
    <div>
      <% if !@article.image.nil? %>
        <%= image_tag @article.image, id: "article-image", class: "img-fluid rounded", height: "300", width: "400" %>
      <% end %>
    </div>
  </div>
  <div id="tags">
    <% @article.tags.each do |tag| %>
      <span><%= link_to "#{tag}", {controller: "articles", action: "index", tag: tag}, class: "article-tag badge badge-primary" %></span>
    <% end %>
  </div>
  <br>
  <div id="article-posts">
    <% @article.posts.each do |post| %>
      <%= render partial: "articles/new_post", locals: {post: post} %>
    <% end %>
  </div>
  <div id="post-form-outline">
    <% if signed_in? && current_user.expert? %>
      <%= form_for Post.new, url: posts_path, remote: true do |form| %>
        <%= form.label :text, "New Comment" %>
        <%= form.text_area :text, type: 'text', rows: 4, id: "post-form-text", :class => "form-control", required: true, placeholder: "Suggest literature, documentaries, other articles, etc..." %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :article_id, value: @article.id %>
        <%= form.submit "Post", class: "btn btn-outline-secondary btn-sm" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) if signed_in? && current_user.id == @article.user_id %> |
<%= link_to 'Back', articles_path %>

<script>

  $(document).ready(function() {
    $(".comment-form-outline, .post-comments").hide();

    $(".container").addClass("container-fluid").removeClass("container");

    $("#article-posts").on("click", ".post-respond-badge", (event) => {
      event.preventDefault();

      let postID = event.target.id.split("-")[3];
      $(`#comment-form-${postID}`).toggle();
      $(`.toggled:not(#comment-form-${postID})`).hide();
    });

    $("#article-posts").on("click", ".view-comments-badge", (event) => {
      event.preventDefault();

      let postID = event.target.id.split("-")[3];
      $(`#post-${postID}-comments`).toggle();
      $(`.toggled:not(#post-${postID}-comments)`).hide();

    });
  });

</script>

<style>

  .container {
    margin: 0px;
    margin-right: 0px;
  }

  .post-outline, .comment-outline {
    padding: 8px;
    position: relative;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(150, 150, 150, .2);
    border-radius: 4px;
  }

  .comment-form-outline, .post-comments {
    position: absolute;
    left: 800px;
    top: 0px;
    width: 400px;
    background-color: rgba(150, 150, 150, .1);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(150, 150, 150, .2);
    border-radius: 4px;
  }

  .post-comments {
    overflow: scroll;
    max-height: 500px;
  }

//  .post-outline:hover {
//    background: -webkit-linear-gradient(#C7D3DC,#5B798E);
//    background: -moz-linear-gradient(#C7D3DC,#5B798E);
//    background: -o-linear-gradient(#C7D3DC,#5B798E);
//    background: linear-gradient(#C7D3DC,#5B798E);

//    -webkit-transition: background 1s ease-out;
//    -moz-transition: background 1s ease-out;
//    -o-transition: background 1s ease-out;
//    transition: background 1s ease-out;
//  }

  .post-respond-badge {
    position: absolute;
    right: 0px;
  }

  .view-comments-badge {
    position: absolute;
    right: 100px;
  }

  .post-comments-badge-outline > :hover  {
    cursor: pointer;
  }

  .post-respond-form-outline {
    position: absolute;
    right: 0px;
  }

  #article {
    background-color: rgba(150, 150, 150, .1);
    position: relative;
    left: 10vw;
    width: 50vw;
    padding: 10px;
    border-radius: 4px;
  }

</style>
