

<div class="jumbotron">

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="user-info">
					<div class="avatar-container">

						<% if @user.avatar.present? %>
						<a href="<%= edit_user_path %>">
							<%= image_tag @user.avatar.url, :class => "user-profile-image" %>
						<% else %>
						<a href="<%= edit_user_path %>">
							<img src="/assets/defaultpicture.png", class="user-profile-image">
						<% end %>
						<br/><br/>
					</div>

	
					<div class="user-profile-titles">
						<div><%=@user.name %></div>
						<div><%=@user.title %></div>
					</div>

					<div class="user-links">
            <% if @user == current_user %>
					<%= link_to 'Edit Profile', edit_user_path(@user), :class => "btn btn-secondary btn-sm" %>
          <% end %>
					<%= link_to 'Go To Homepage', root_path, :class => "btn btn-secondary btn-sm" %>
					<% if @user == current_user && @user.expert? %>
					<%= link_to 'Pending Articles', root_path, :class => "btn btn-secondary btn-sm" %>
					<% end %>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="about-me">
					<h5>About me:</h5>
					<%= @user.about_me %>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
  <div class="row">
    <% @user_articles.each do |article| %>
      <div class=" article col-md-4">
        <div id="article-outline">
        <div id="article-image-outline">
            <% if !article.image.blank? %>
              <a href="<%= article_path(article.id) %>"><%= image_tag article.image, class: "img-fluid rounded mx-auto d-block"%></a>
            <% end %>
          </div>
             <div id="site-name">
            <a href="<%= article.link %>" target="_blank"><%= "Visit article at #{URI.parse(article.link).host.downcase}" %></span></a>
          </div>
          <div id="article-heading-outline">
            <h6 class="article-heading"><a href="<%= article_path(article.id) %>"><%= (article.title) %></a></h6>
          </div>
          <div id="article-tags-outline">
            <% article.tags.each do |tag| %>
              <span class="article-tag badge badge-primary"><%= tag %></span>
            <% end %>

            <!-- Eventually make this a badge that adds a tag to the article via AJAX -->
            <% if article_owner?(article) %>
              <% form_for article, url: articles_path, method: "get" do |form| %>
              <% end %>
            <% end %>
          </div>


<!-- show, edit, delete buttons in the article box -->

<div class="article-box-buttons">
          <span><%= link_to 'Show Comments', article %></span> 
          <span><%= link_to '/ Edit', "#", data: {toggle: "modal", target: "#editModal"} if article_owner?(article) %></span>
          <%= render 'articles/edit', article: article %>
          <span><%= link_to ' / Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } if article_owner?(article) %></span>
        </div>
        
        
        </div>
      
  
</div>

<% end %> 
</div>

<style>


.article {
  margin-bottom: 10px;
}

  .article-heading {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.75rem;
    font-weight: 700;

  }

  .article-heading a {
    color: black;
  }

  #article-outline {
    position: relative;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(150, 150, 150, .6);
    border-bottom: 2px solid grey;
    height: 400px;
  }

  #article-heading-outline {
    margin-top: 6px;
  }


#article-tags-outline {
    text-align: center;
  
}

.article-box-buttons {
  bottom: 5px;
  left: 20px;
  position: absolute;
}


#site-name {
    font-family: georgia,serif;
    text-align: center;
    font-size: 14px;
    line-height: 11px;
    font-weight: 400;
    font-style: normal;
    color: #4d4d4d;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

</style>
