<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  </head>

  <body>   

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">

      <a class="navbar-brand" href="#">*AppName*</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Search BAr --><!-- Search BAr --><!-- Search BAr --><!-- Search BAr -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">  
      <div class="navbar-nav form-group col-md-4">
        

          <%= form_tag(articles_path, :method => "get", id: "search-form", class: " input-group-append") do %>

               <%= text_field_tag :search, params[:search], placeholder: "Search Articles", class: "form-control py-2"  %>
                 <span class="input-group-append">
                 <%= button_tag(type: "submit", class: "btn btn-outline-secondary") do %><i class="fa fa-search"></i></span>
                <% end %>
                  <% end %>
      </div> 
<!-- 
      Post new article -->

<% if signed_in? %>

  <div class="post-new-article">
    <div data-toggle="modal", data-target="#addarticleModal", class="btn btn-danger">New Article</div>
      <%= render 'articles/form', article: Article.new %>
  </div>

<% else %>

  <div class="post-new-article">
    <div data-toggle="modal", data-target="#addarticleModal", class="btn btn-danger">New Article</div>
  </div>

  <div id="addarticleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign in or Sign up!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>You have to be logged in to continue!</p>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
        
        <ul class="navbar-nav ml-auto li-centering-navbar">

                <!-- How it works -->
                <li class="nav-item active " >
                  <%= link_to t("How it Works"), how_it_works_path, class: 'nav-link'  %>
                </li>

              <!-- If Logged in/signed in In -->
              
              <% if signed_in? -%>
              <!-- Trial --><!-- Trial --><!-- Trial --><!-- Trial -->
              
              <ul class="nav navbar-nav">
      
                      
                        <!-- Image goes here --><!-- Image goes here --><!-- Image goes here --><!-- Image goes here -->

                        
                        <li class="li-centering-navbar"> <% if current_user.avatar.present? %>
                        <a href="/users/<%= current_user.id %>">
                        <%= image_tag current_user.avatar.thumb.url, :class => 'round-image nav-link dropdown-toggle' %>
                        </a>
                        <% else %>

                        <a href="/users/<%= current_user.id %>"><img src="/assets/defaultpicture.png", class='profile-image-sizing nav-link dropdown-toggle'></a>

                        <% end %>
                        </li>
                        
                        
                        <!-- dropdown-menu --><!-- dropdown-menu -->
                        <li> <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#"></a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          
                              <li><%= link_to "Profiles", user_path(current_user), class: 'dropdown-item' %></li>
                              <li>
                                <!-- Sign Out button -->
                                  <% if signed_in? -%>
                                  <%= link_to t(".sign_out"), session_path, method: :delete , class: 'dropdown-item'  %>
                                  <% end %>
            
                              </li>
                        </ul>
                        </li>
                    

                </ul>
            
              <!-- if not signed in/logged in -->
              <% else %>
              
                  <!-- Member Link -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Member
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to t(".sign_in"), sign_in_path(role: "regular"), class: 'dropdown-item' %>
                      <%= link_to t(".sign_up"), sign_up_path(role: "regular"), class: 'dropdown-item' %>
                    </div>
                  </li>
                  <!-- Expert Link -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Expert
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to t(".sign_in"), sign_in_path(role: "expert"), class: 'dropdown-item' %>
                      <%= link_to t(".sign_up"), sign_up_path(role: "expert"), class: 'dropdown-item' %>
                    </div>
                  </li>

              <% end %>    
            
        </ul>

      </div>

    </nav>

      <div id="flash">
        <% flash.each do |key, value| %>
        <div class="alert alert-secondary" role="alert"><%=h value %></div>
        <% end %>
      </div>

      <%= yield %>
    
  </body>
</html>
